In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("test.csv")

In [3]:
df.drop(["which of the recreational activity do you like to perform?"],axis=1,inplace=True)

In [4]:
df.rename(columns={'AGE OF THE PERSON?':'AGE'},inplace=True)

In [5]:
df.fillna(0,inplace=True)
df=df.astype(int)

In [8]:
df['ID']=df.index

In [11]:
df=df[['ID','AGE','YOGA','SLIDES','CRICKET','JOGGING','BADMINTON','BASKETBALL','VOLLEYBALL','EVENING MEETINGS']]

In [12]:
df

,ID,AGE,YOGA,SLIDES,CRICKET,JOGGING,BADMINTON,BASKETBALL,VOLLEYBALL,EVENING MEETINGS
0,0,25,1,1,1,0,1,0,1,1
1,1,23,0,0,1,0,0,0,0,0
2,2,24,1,0,1,1,0,1,0,0
3,3,23,0,0,0,0,0,0,0,0
4,4,24,1,0,0,1,0,0,0,0
5,5,31,1,0,1,0,0,0,0,1
6,6,24,0,0,0,0,0,0,0,0
7,7,24,0,0,0,0,1,0,1,0
8,8,22,0,0,1,0,0,0,0,0
9,9,45,0,0,1,0,0,0,0,0
10,10,24,0,0,1,0,0,0,0,0
11,11,25,0,0,1,0,0,0,0,0
12,12,25,0,0,0,1,0,0,0,0
13,13,23,0,0,0,0,0,0,0,0
14,14,23,0,0,0,0,0,0,0,0
15,15,15,0,0,1,0,0,0,0,0
16,16,24,0,0,0,0,0,0,0,0
17,17,25,0,0,1,0,0,0,0,0
18,18,25,0,0,0,0,0,0,0,1
19,19,22,0,0,1,0,0,0,0,1
20,20,0,0,0,1,0,1,0,0,0
21,21,25,0,0,0,1,1,0,0,0
22,22,22,0,0,0,1,1,0,1,1
23,23,25,1,1,1,1,1,1,1,1
24,24,26,0,0,1,1,1,0,0,0
25,25,27,0,0,1,1,0,0,0,0
26,26,23,0,0,0,1,1,1,0,0
27,27,12,0,1,1,0,0,0,0,0
28,28,25,1,0,1,1,1,1,1,1
29,29,23,0,0,1,1,1,1,1,1
30,30,21,1,1,1,1,0,1,0,1
31,31,45,0,0,0,0,0,0,1,1
32,32,61,1,0,0,0,0,0,0,1
33,33,73,0,0,0,1,0,0,1,1
34,34,15,1,1,1,1,1,1,1,0
35,35,10,0,1,1,1,1,1,1,0
36,36,17,1,1,1,1,1,1,1,1
37,37,19,1,0,1,0,1,1,1,0
38,38,40,0,1,1,1,1,1,1,1
39,39,35,0,0,0,1,1,1,1,0
40,40,80,0,0,0,0,0,0,0,1
41,41,75,1,0,0,1,1,0,0,1
42,42,30,1,0,0,1,0,0,0,1
43,43,27,0,0,1,1,1,0,0,0
44,44,29,0,0,1,1,1,0,0,0
45,45,34,1,0,1,0,0,0,1,0
46,46,18,1,1,1,1,1,1,1,1
47,47,17,1,1,1,0,0,1,1,0
48,48,76,1,0,0,1,0,0,1,1
49,49,8,0,1,0,0,0,0,0,0
50,50,22,0,0,0,0,0,0,0,0

In [21]:
pd.concat([df]*20, ignore_index=True)

,ID,AGE,YOGA,SLIDES,CRICKET,JOGGING,BADMINTON,BASKETBALL,VOLLEYBALL,EVENING MEETINGS
0,0,25,1,1,1,0,1,0,1,1
1,1,23,0,0,1,0,0,0,0,0
2,2,24,1,0,1,1,0,1,0,0
3,3,23,0,0,0,0,0,0,0,0
4,4,24,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1015,46,18,1,1,1,1,1,1,1,1
1016,47,17,1,1,1,0,0,1,1,0
1017,48,76,1,0,0,1,0,0,1,1
1018,49,8,0,1,0,0,0,0,0,0
1019,50,22,0,0,0,0,0,0,0,0

In [22]:
newdf.loc[newdf['AGE']<12,['SLIDES']]=1
newdf.loc[newdf['AGE']>12,['SLIDES']]=0
newdf.loc[newdf['AGE']>70,['JOGGING']]=0
newdf.loc[newdf['AGE']>70,['CRICKET']]=0
newdf.loc[newdf['AGE']>70,['BASKETBALL']]=0

In [16]:
newdf

,ID,AGE,YOGA,SLIDES,CRICKET,JOGGING,BADMINTON,BASKETBALL,VOLLEYBALL,EVENING MEETINGS
0,0,25,1,0,1,0,1,0,1,1
1,0,25,1,0,1,0,1,0,1,1
2,0,25,1,0,1,0,1,0,1,1
3,0,25,1,0,1,0,1,0,1,1
4,0,25,1,0,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...
1015,50,22,0,0,0,0,0,0,0,0
1016,50,22,0,0,0,0,0,0,0,0
1017,50,22,0,0,0,0,0,0,0,0
1018,50,22,0,0,0,0,0,0,0,0
1019,50,22,0,0,0,0,0,0,0,0

In [17]:
newdf.to_csv('test_1.csv')